<div class="page-header">
  <h2 class="page-title">メモの編集</h2>
</div>
<section class="form-items">
  <form method="post" action="/memos/<%= params[:id] %>">
    <div class="form-item">
      <label>メモのタイトル</label>
      <input type="text" name="title" value=<%= h(@memo[0]["title"]) %>>
    </div>
    <div class="form-item">
      <label>メモの内容</label>
      <textarea name="content"><%= h(@memo[0]["content"]) %></textarea>
    </div>
    <div class="form-action">
      <input type="hidden" name="_method" value="patch">
      <input type="submit" value="変更" class="btn">
    </div>
  </form>
  <a href ='/memos/<%= params[:id] %>'>戻る</a>
</section>
